.slides-list {
  width: 100%;
}

.slides-list > .slide {
  width: 100%;
  background-color: var(--transparent-blue1);
  padding: 10px;
  border-radius: 30px;
  display: flex;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .slides-list > .slide {
    height: 185px;
  }
}

.slides-list > .slide .slide-navigation {
  margin: 0 30px;
  text-align: center;
  flex-grow: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.slides-list > .slide .slide-img {
  background-image: url('https://www.themoviedb.org/t/p/original/7AYpRimYUlVEIl1vC26U2ZDfz5f.jpg');
  height: 250px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: clamp(300px, 100%, 1300px) auto;
  background-position: center;
  flex-grow: 1;
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .slides-list > .slide .slide-img {
    height: unset;
  }
}

.slides-list > .slide .slide-navigation .icon-drag-and-drop {
  margin: 10px 0;
}

@media screen and (max-width: 700px) {
  .slides-list > .slide .slide-navigation .icon-drag-and-drop {
    display: none;
  }
}

.slides-list > .slide .slide-navigation .icon-drag-and-drop,
.slides-list > .slide .slide-navigation .icon-move-upwards,
.slides-list > .slide .slide-navigation .icon-move-downwards {
  color: white;
  font-size: 27px;
}

.slides-list > .slide .slide-navigation .icon-move-upwards:hover,
.slides-list > .slide .slide-navigation .icon-move-downwards:hover {
  cursor: pointer;
}

.slides-list > .slide .slide-navigation .icon-drag-and-drop:hover {
  cursor: all-scroll;
}

@media screen and (max-width: 700px) {
  .slides-list > .slide .slide-navigation .icon-move-upwards {
    margin-bottom: 5px;
  }
}

.slides-list > .slide.dragging {
  opacity: 0.4;
}

.slides-list > .separator {
  padding: 3px 0;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.slides-list > .separator.display {
  opacity: 1;
  color: white;
}

.slides-list > .separator.active {
  background-color: var(--yellow1);
}
