:root {
  --navbar-display-width: 250px
}

body {
  display: flex;
}

body > nav {
  width: auto;
  position: relative;
  /* overflow: hidden; */
}

body > main {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

#navbar-toggle-button {
  position: absolute;
  top: 20px;
  left: calc(var(--navbar-display-width) - 40px);
  z-index: 1;
}

.admin-unsaved-changes {
  margin-top: 40px;
  position: sticky;
  bottom: 40px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .admin-unsaved-changes {
    margin-top: 80px;
    bottom: 80px;
  }
}
