@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

:root {
  /* COLORS */
  --blue1: rgba(59, 90, 202, 1);
  --blue2: rgba(25, 48, 129, 1);
  --blue3: rgba(20, 26, 50, 1);
  --transparent-blue1: rgba(25, 48, 129, 0.25);
  --yellow1: rgba(255, 197, 110, 1);
  --light-blue1: rgba(0, 122, 255, 1);
  --white1: rgba(255, 255, 255, 1);

  --content-width: 60%;
  --min-content-width: 600px;
  --max-content-width: 1000px;
}

@media screen and (max-width: 700px) {
  :root {
    --content-width: 90%;
    --min-content-width: 300px;
    --max-content-width: 400px;
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  background-color: var(--blue1);
  height: 100vh;
}

body > main {
  position: relative;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5, h6 {
  font-size: 16px;
}

.body-content-container {
  width: var(--content-width);
  max-width: var(--max-content-width);
  min-width: var(--min-content-width);
  margin: 0 auto;
}
