.reservation-step {
  padding-bottom: 115px;
}

.movie-displayer {
  padding: 10px;
}

.selected-movie {
  border-radius: 25px;
  background-color: rgba(13, 23, 60, 1);
}


.screening-filters {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.language-selector, .room-type-selector {
  width: 25%;
}

.room-type-selector {
  margin: 0 10px;
}
