.reservation-step {
  padding-bottom: 115px;
}

.movie-displayer {
  padding: 10px;
}

.selected-movie {
  border-radius: 25px;
  background-color: rgba(13, 23, 60, 1);
}


.screening-filters {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.language-selector, .room-type-selector {
  width: 25%;
}

.room-type-selector {
  margin: 0 10px;
}



/* TODO: Mover a otro lado */
.movie-screenings-container {

}

.date-screenings-container {

}

.date-screenings-container h3{
  color: white
}

.date-screenings-table {
  border-top: 1px solid white;
  padding: 10px;
}

.screening-row {
  display: flex;
  justify-content: space-around;
  background-color: rgba(25, 48, 129, 0.25);
  padding: 5px;
  border-radius: 30px;
  margin: 10px 0;
  color: white;
}

.screening-row button {
  color: white;
  background-color: rgba(25, 48, 129, 1);
  border: none;
  padding: 4px 20px;
  border-radius: 20px;
  width: 150px;
}

.screening-row button:hover {
  cursor: pointer;
}

.selected-screening-row {
  background-color: rgba(2, 8, 28, 0.81);
  color: rgba(255, 197, 110, 1);
}

.selected-screening-row button {
  color: rgba(255, 197, 110, 1);
}
