#carousel-slide .slide:hover,
#movie-poster:hover {
  cursor: pointer;
}

#movie-poster {
  display: inline-block;
  position: absolute;
  top: 190px;
}

#carousel-slide .slide::after,
#movie-poster::after {
  content: "Cambiar imagen";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white1);
  color: var(--blue3);
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.1s ease;
}

#carousel-slide .slide::after {
  height: 100%;
}

#movie-poster::after {
  height: 350px;
  border-radius: 20px;
}

#carousel-slide .slide:hover::after,
#movie-poster:hover::after {
  opacity: 0.7;
}

.movie-switches li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.movie-switches li p {
  color: var(--white1);
}

.movie-data-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#movie-title-input,
#movie-genre-input,
#movie-rated-input,
#movie-sinopsis-input,
#movie-calification-input,
#movie-duration-input {
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
  #movie-poster {
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 250px;
  }

  #movie-poster > .movie-displayer {
    width: auto;
  }

  #movie-poster > .movie-displayer img {
    height: auto;
  }
}

.movie-switches {
  margin: 30px 0 0 250px;
}

@media screen and (max-width: 700px) {
  .movie-switches {
    margin: 50px 0 0 0;
  }
}
