<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="/view-assets/common/reset.style.css" rel="stylesheet" type="text/css">
    <link href="/view-assets/common/index.style.css" rel="stylesheet" type="text/css">
    <link href="/view-assets/public-views/fragments/header/header.style.css" rel="stylesheet" type="text/css">
    <script src="/view-assets/common/utils.script.js"></script>
    <link href="/view-assets/common/buttons.style.css" rel="stylesheet" type="text/css">
    {{#> head-block}}
    {{/head-block}}
</head>
<body>
    <nav>
        {{> fragments/public/header}}
    </nav>
    <main>
        {{#> main-block}}
        {{/main-block}}
    </main>
    <footer>
    </footer>
</body>
</html>
