<input type="checkbox" id="nav-check">
<a href="/" class="nav-header">
  <section class="nav-title">
    <img src="/images/logo/cines-flash-logo.svg" alt="Flash-Cines-Logo" height="40px" width="40px">
    <p>Flash Cines</p>
  </section>
</a>
<section class="nav-btn">
  <label for="nav-check">☰</label>
</section>

<div class="nav-links">
  <a href="/">Inicio</a>
  <a href="/cartelera">Cartelera</a>
  <a href="/salas">Salas</a>
  <a href="/sobre-nosotros">Sobre nosotros</a>
  <a href="/reservar">
    <button class="button small-button button-1">Reservar</button>
  </a>
</div>

