<section class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>{{ roomType.name }}</h1>
    </div>
    <div class="flip-card-back">
      <h1>{{ roomType.name }}</h1>
      <p>Precio de entrada: {{roomType.price}}</p>
    </div>
  </div>
</section>
