{{> fragments/public/base}}

  {{#> head-block}}
      <title>Sobre nosotros | PAW Cine</title>
  {{/head-block}}


  {{#*inline "main-block"}}
    <h1>
      Sobre nosotros
    </h1>
  {{/inline}}

{{fragments/public/base}}
