{{> fragments/public/base}}

  {{#*inline "head-block"}}
      <title>Sobre nosotros | Flash Cines</title>
  {{/inline}}


  {{#*inline "main-block"}}
    <h1>
      Sobre nosotros
    </h1>
  {{/inline}}

{{fragments/public/base}}
