{{> fragments/public/base}}

  {{#*inline "head-block"}}
      <title>Cartelera | PAW Cine</title>
      {{!-- current view script --}}
      <script src="/view-assets/public-views/movies/movies.script.js"></script>
      <link href="/view-assets/public-views/movies/movies.style.css" rel="stylesheet" type="text/css">
            {{!-- movie displayer style --}}
      <link href="/view-assets/public-views/movies/fragments/movie-displayer/movie-displayer.style.css" rel="stylesheet" type="text/css">
  {{/inline}}

  {{#*inline "main-block"}}

    <h1>Cartelera</h1>

    <section class="movies-container">
      {{#if movies.length}}
        {{#each movies}}
          {{> fragments/public/movieDisplayer movie=this}}
        {{/each}}
      {{ else }}
        <p>No hay peliculas para mostrar</p>
      {{/if}}
    </section>


  {{/inline}}

{{fragments/public/base}}
