{{> fragments/public/base}}

  {{#*inline "head-block"}}
      <title>Salas | Flash Cines</title>
      <script src="/view-assets/public-views/room-types/room-types.script.js"></script>
      <link href="/view-assets/public-views/room-types/room-types.style.css" rel="stylesheet" type="text/css">
      <link href="/view-assets/public-views/room-types/fragments/room-type-card/room-type-card.style.css" rel="stylesheet" type="text/css">
  {{/inline}}

  {{#*inline "main-block"}}

    <h1>Salas</h1>

    {{#each roomTypes}}
      {{> fragments/public/roomTypeCard roomType=this}}
    {{/each}}


  {{/inline}}

{{fragments/public/base}}
