<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="/styles/reset.style.css" rel="stylesheet" type="text/css">
    <link href="/styles/index.style.css" rel="stylesheet" type="text/css">
    <script src="/scripts/utils.script.js"></script>
    {{#> head-block}}
    {{/head-block}}
</head>
<body>
    <nav>
        {{!-- {{> parts/nav}} --}}
    </nav>
    <main>
        {{#> main-block}}
        {{/main-block}}
    </main>
    <footer>
        {{!-- {{> parts/footer}} --}}
    </footer>
</body>
</html>
