{{> fragments/public/base}}

  {{#> head-block}}
      <title> Reservar | PAW Cine </title>
      {{!-- Reservation Step Info Component & Style --}}
      <script src="/view-assets/reservation-views/components/step-info/reservation-step-info.component.js"></script>
      <link href="/view-assets/reservation-views/components/step-info/reservation-step-info.style.css" rel="stylesheet" type="text/css">
      {{!-- Reservation Navigation Buttons Component & Style --}}
      <script src="/view-assets/reservation-views/components/navigation-buttons/reservation-navigation-buttons.component.js"></script>
      <link href="/view-assets/reservation-views/components/navigation-buttons/reservation-navigation-buttons.style.css" rel="stylesheet" type="text/css">
      {{!-- Movie Displayer Card Style --}}
      <link href="/view-assets/public-views/movies/fragments/movie-displayer/movie-displayer.style.css" rel="stylesheet" type="text/css">
      {{!-- Movies View Style --}}
      <link href="/view-assets/public-views/movies/movies.style.css" rel="stylesheet" type="text/css">
      {{!-- Input Component & Style  --}}
      <script src="/view-assets/common/components/input/input.component.js" type="module"></script>
      <link href="/view-assets/common/components/input/input.style.css" rel="stylesheet" type="text/css">
      {{!-- Select Component & Style  --}}
      <script src="/view-assets/common/components/select/select.component.js" type="module"></script>
      <link href="/view-assets/common/components/select/select.style.css" rel="stylesheet" type="text/css">
      {{!-- Date-picker Component & Style  --}}
      <script src="/view-assets/common/components/date-picker/date-picker.component.js" type="module"></script>
      <link href="/view-assets/common/components/date-picker/date-picker.style.css" rel="stylesheet" type="text/css">
      {{!-- Reservation View Script & Style --}}
      <script src="/view-assets/reservation-views/reservations.script.js" type="module"></script>
      <link href="/view-assets/reservation-views/reservations.style.css" rel="stylesheet" type="text/css">
  {{/head-block}}

  {{#*inline "main-block"}}

    <h1>Reserva tu entrada</h1>

    {{!-- Step info Component --}}
    <section id="step-info"></section>

    {{!-- Movie selector --}}
    <section id="movie-selection-step" class="reservation-step movie-selection-step">
      <h2>Selecciona una película</h2>
      <section class="movies-container">
        {{#if movies.length}}
          {{#each movies}}
            {{> fragments/public/movieDisplayer movie=this}}
          {{/each}}
        {{ else }}
          <p>No hay peliculas para mostrar</p>
        {{/if}}
      </section>
    </section>

    <section id="movie-screening-selection-step" class="reservation-step movie-screening-selection-step">
      <h2>Selecciona una función</h2>
      <section class="screening-filters">
        <section id="language-selector" class="language-selector"></section>
        <section id="room-type-selector" class="room-type-selector"></section>
        <section id="date-selector" class="room-type-selector"></section>
      </section>

      <section id="movie-screening-selection">
        <section class="movie-screenings-container">
          <section class="date-screenings-container">
            <h3>Hoy</h3>
            <section class="date-screenings-table">
              <section class="screening-row selected-screening-row">
                <p>Español</p>
                <p>2D</p>
                <p>13:30</p>
                <button>Seleccionada</button>
              </section>
              <section class="screening-row">
                <p>Español</p>
                <p>2D</p>
                <p>13:30</p>
                <button>Seleccionar</button>
              </section>
              <section class="screening-row">
                <p>Español</p>
                <p>2D</p>
                <p>13:30</p>
                <button>Seleccionar</button>
              </section>
            </section>
          </section>
          <section class="date-screenings-container">
            <h3>Mañana</h3>
            <section class="date-screenings-table">
              <section class="screening-row">
                <p>Español</p>
                <p>2D</p>
                <p>13:30</p>
                <button>Seleccionar</button>
              </section>
              <section class="screening-row">
                <p>Español</p>
                <p>2D</p>
                <p>13:30</p>
                <button>Seleccionar</button>
              </section>
              <section class="screening-row">
                <p>Español</p>
                <p>2D</p>
                <p>13:30</p>
                <button>Seleccionar</button>
              </section>
            </section>
          </section>
          <section class="date-screenings-container">
            <h3>Viernes 12/08</h3>
            <section class="date-screenings-table">
              <section class="screening-row">
                <p>Español</p>
                <p>2D</p>
                <p>13:30</p>
                <button>Seleccionar</button>
              </section>
              <section class="screening-row">
                <p>Español</p>
                <p>2D</p>
                <p>13:30</p>
                <button>Seleccionar</button>
              </section>
              <section class="screening-row">
                <p>Español</p>
                <p>2D</p>
                <p>13:30</p>
                <button>Seleccionar</button>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>

    <section id="room-seats-selection-step" class="reservation-step room-seats-selection-step">
      <h2>Selecciona los asientos</h2>
    </section>

    <section id="user-data-form-step" class="reservation-step user-data-form-step">
      <h2>Datos personales</h2>
    </section>

    <section id="reservation-summary-step" class="reservation-step reservation-summary-step">
      <h2>Resumen</h2>
    </section>

        {{!-- Navigation buttons --}}
    <section id="navigation-buttons"></section>

  {{/inline}}

{{fragments/public/base}}
