.date-screenings-container {
  margin-bottom: 25px;
}

.date-screenings-container h3{
  color: white;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 700px) {
  .date-screenings-container h3{
    font-size: 25px;
  }
}

.screening-row {
  display: flex;
  justify-content: space-around;
  background-color: rgba(25, 48, 129, 0.25);
  padding: 5px;
  border-radius: 30px;
  margin: 10px 0;
  color: white;
  align-items: center;
}

.screening-row > p {
  flex-basis: 15%;
  text-align: center;
}

.screening-row > p:first-child {
  flex-basis: 30%;
}

.screening-row button {
  color: white;
  background-color: rgba(25, 48, 129, 1);
  border: none;
  padding: 4px 20px;
  border-radius: 20px;
  width: 150px;
}

@media screen and (max-width: 700px) {
  .screening-row button {
    padding: 4px 10px;
    width: unset;
    font-size: 18px;
    font-weight: 500;
  }
}

.screening-row button:hover {
  cursor: pointer;
  color: rgba(255, 197, 110, 1);
}

.screening-row button p:nth-child(1) {
  display: block;
}

@media screen and (max-width: 700px) {
  .screening-row button p:nth-child(1) {
    display: none;
  }
}

.screening-row button p:nth-child(2) {
  display: none;
}

@media screen and (max-width: 700px) {
  .screening-row button p:nth-child(2) {
    display: block;
  }
}

.selected-screening-row {
  background-color: rgba(2, 8, 28, 0.81);
  color: rgba(255, 197, 110, 1);
}

.selected-screening-row button {
  color: rgba(255, 197, 110, 1);
}
