.screen-container {
  width: 90%;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto 30px auto;
}

.room-seats-selector-container {
  background-color: rgb(25, 48, 129);
  padding: 10px;
  border-radius: 30px;
}

.room-seats-selector-container button {
  width: 30px;
  height: 30px;
  border-radius: 10px 10px 0 0;
}

.room-seats-selector-container > h3 {
  color: white;
  text-align: center;
}

.seats-info {
  
}

.seats-info p {
  margin: 0 0 0 7px;
  color: white;
}

.seats-info button {
  border: hidden;
}

.seats-info > .available-seats-info {
}

.seats-info > .selected-seats-info {
}

.seats-info > .occupied-seats-info {
}

.seats-info > .available-seats-info, .seats-info > .selected-seats-info, .seats-info > .occupied-seats-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.seats-info > .available-seats-info button {
  background: rgba(217, 217, 217, 1);
}

.seats-info > .selected-seats-info button {
  background: var(--light-blue1);
}

.seats-info > .occupied-seats-info button {
  background: rgba(188, 49, 49, 1);
}

.room-container {
  background-color: var(--blue1);
  padding: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .room-container {
    overflow: scroll;
    white-space: nowrap;
    justify-content: flex-start;
  }
}

.room-seats .empty-room-space {
  background-color: transparent;
  border: none;
}

.room-seats .room-seat {
  cursor: pointer;
  border: none;
  margin: 2px;
}

.room-seats .room-seat:hover {
  background-color: grey;
}

.room-seats .not-occupied-seat {
  background: rgba(217, 217, 217, 1);
}

.room-seats .occupied-seat {
  background: rgba(188, 49, 49, 1);
}

.room-seats .selected-seat {
  background: var(--light-blue1);
}


.room-screen {
  height: 10px;
  width: 40%;
  background: rgb(217, 217, 217);
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}
