.desktop-steps-info {
  background-color: var(--blue2);
  display: inline-block;
}

.mobile-steps-info {
  margin: 15px 0;
  display: none;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .desktop-steps-info {
    display: none;
  }

  .mobile-steps-info {
    display: inline-block;
  }
}

.desktop-view-step.step {
  display: inline-block;
  margin: 30px;
  text-align: center;
  cursor: default;
  font-weight: bold;
}

/* Step name */
.desktop-view-step.step > p:nth-child(1) {
  color: white;
  margin-bottom: 5px;
}

/* Step number */
.desktop-view-step.step > p:nth-child(2) {
  text-align: center;
  line-height: 50px;
  color: black;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}

.desktop-view-step.step:not(:last-child) > p:nth-child(2):after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  height: 2px;
  background-color: white;
  cursor: none;
}

.desktop-view-step.step:not(:first-child) > p:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: white;
  cursor: none;
}

.desktop-view-step.step.active-step > p:first-child {
  color: var(--yellow1);
  transition: 0.5s ease;
}

.desktop-view-step.step.active-step > p:not(:first-child) {
  background-color: var(--yellow1);
  transition: 0.5s ease;
}

.mobile-view-step.step:not(.active-step) {
  display: none;
}

.mobile-view-step.step > p:nth-child(1) {
  text-align: center;
  color: var(--yellow1);
}
