<section id="nav-bar-container" class="nav-bar-container">
  <section class="navbar-header">
    <div class="user-img">
      <p>U</p>
    </div>
    <p class="username">Username</p>
  </section>

  <section id="navbar-body" class="navbar-body"></section>

  <section class="navbar-footer">
    <section id="logout-button" class="navbar-item">
      <p>Cerrar sesión</p>
    </section>
  </section>
</section>
