<section id="nav-bar-container" class="nav-bar-container">
  <section class="navbar-header">
    <p>Admin | PAW Cines</p>
  </section>

  <section id="navbar-body" class="navbar-body"></section>

  <section class="navbar-footer">
    <section id="logout-button" class="navbar-item">
      <p>Cerrar sesión</p>
    </section>
  </section>
</section>
