{{> fragments/admin/base}}

  {{#> head-block}}
      <title>Configurar la cartelera | PAW Cine</title>

      {{!-- Carousel-config views's Script & Style --}}
      <script src="/view-assets/admin-views/billboard-config/billboard-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/billboard-config/billboard-config.style.css" rel="stylesheet" type="text/css"> 
  {{/head-block}}


  {{#*inline "main-block"}}

    <h1>Config de Cartelera</h1>

  {{/inline}}

{{fragments/public/base}}
