{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Configurar el carousel | Flash Cines</title>

      {{!-- Carousel component Script & Style --}}
      <script src="/view-assets/common/components/carousel/carousel.component.js" type="module"></script>
      <link href="/view-assets/common/components/carousel/carousel.style.css" rel="stylesheet" type="text/css">

      {{!-- Carousel-config views's Script & Style --}}
      <script src="/view-assets/admin-views/carousel-config/carousel-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/carousel-config/carousel-config.style.css" rel="stylesheet" type="text/css"> 

      {{!-- Unsaved-Changes Buttons component Script & Style --}}
      <script src="/view-assets/admin-views/common/components/unsaved-changes/unsaved-changes.component.js" type="module"></script>
      <link href="/view-assets/admin-views/common/components/unsaved-changes/unsaved-changes.style.css" rel="stylesheet" type="text/css">

      {{!-- Buttons Styles --}}
      <link href="/view-assets/common/buttons.style.css" rel="stylesheet" type="text/css">

      {{!-- Carousel Slides List Component Script & Style --}}
      <script src="/view-assets/admin-views/carousel-config/components/slides-list/slides-list.component.js" type="module"></script>
      <link href="/view-assets/admin-views/carousel-config/components/slides-list/slides-list.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}

  {{#*inline "main-block"}}

    <section id="preview-carousel"></section>

    <h1>Configurar el orden del carousel</h1>

    <section id="slides-list-container" class="body-content-container"></section>

    <section id="unsaved-changes-buttons" class="body-container-container admin-unsaved-changes "></section>

  {{/inline}}

{{fragments/public/base}}
