{{> fragments/admin/base}}

  {{#> head-block}}
      <title>Tablero | PAW Cine</title>
  
      {{!-- Dashboard's Script & Style --}}
      <script src="/view-assets/admin-views/dashboard/dashboard.script.js" type="module"></script>
      <link href="/view-assets/admin-views/dashboard/dashboard.style.css" rel="stylesheet" type="text/css"> 
  {{/head-block}}


  {{#*inline "main-block"}}

    <section>
      <h1>Dashboard</h1>
    </section>

  {{/inline}}

{{fragments/admin/base}}
