{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Ver pelicula | Flash Cines</title>

      {{!-- Input component Script & Style --}}
      <script src="/view-assets/common/components/input/input.component.js" type="module"></script>
      <link href="/view-assets/common/components/input/input.style.css" rel="stylesheet" type="text/css">

      {{!-- Carousel component Script & Style --}}
      <script src="/view-assets/common/components/carousel/carousel.component.js" type="module"></script>
      <link href="/view-assets/common/components/carousel/carousel.style.css" rel="stylesheet" type="text/css">

      {{!-- Movie displayer Style --}}
      <link href="/view-assets/public-views/movies/fragments/movie-displayer/movie-displayer.style.css" rel="stylesheet" type="text/css">
      {{!-- Buttons Style --}}
      <link href="/view-assets/common/buttons.style.css" rel="stylesheet" type="text/css">

      {{!-- Switch component Script & Style --}}
      <script src="/view-assets/common/components/switch/switch.component.js" type="module"></script>
      <link href="/view-assets/common/components/switch/switch.style.css" rel="stylesheet" type="text/css">

      {{!-- Unsaved-Changes Buttons component Script & Style --}}
      <script src="/view-assets/admin-views/common/components/unsaved-changes/unsaved-changes.component.js" type="module"></script>
      <link href="/view-assets/admin-views/common/components/unsaved-changes/unsaved-changes.style.css" rel="stylesheet" type="text/css">

      {{!-- Movie config's Script & Style --}}
      <script src="/view-assets/admin-views/movie-config/movie-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/movie-config/movie-config.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}


  {{#*inline "main-block"}}
    <section id="carousel-slide"></section>

    <section class="body-content-container">
      <section id="movie-poster">
        {{> fragments/public/movieDisplayer}}
      </section>

      <section class="movie-switches">
        <ul>
          <li>
            <p>Mostrar en cartelera</p>
            <section id="display-in-billboard-switch"></section>
          </li>
          <li>
            <p>Mostrar en destacadas</p>
            <section id="display-in-carousel-switch"></section>
          </li>
          <li>
            <p>Mostrar como entreno</p>
            <section id="display-as-premiere-switch"></section>
          </li>
        </ul>
      </section>

      <section class="movie-data-inputs">
        <section id="movie-title-input"></section>
        <section id="movie-genre-input"></section>
        <section id="movie-rated-input"></section>
        <section id="movie-calification-input"></section>
        <section id="movie-duration-input"></section>
        <section id="movie-sinopsis-input"></section>
      </section>

      <section id="unsaved-buttons" class="admin-unsaved-changes"></section>
    </section>


  {{/inline}}

{{fragments/public/base}}
