{{> fragments/admin/base}}

  {{#> head-block}}
      <title>Crear o Editar pelicula | PAW Cine</title>

      {{!-- Input component Script & Style --}}
      {{!-- <script src="/view-assets/common/components/input/input.component.js" type="module"></script>
      <link href="/view-assets/common/components/input/input.style.css" rel="stylesheet" type="text/css"> --}}
      {{!-- Login's Script & Style --}}
      {{!-- <script src="/view-assets/auth-views/login/login.script.js" type="module"></script>
      <link href="/view-assets/auth-views/login/login.style.css" rel="stylesheet" type="text/css">  --}}
      {{!-- Buttons Styles --}}
      {{!-- <link href="/view-assets/common/buttons.style.css" rel="stylesheet" type="text/css"> --}}
  {{/head-block}}


  {{#*inline "main-block"}}

    <h1>Crear o editar peliculas</h1>

  {{/inline}}

{{fragments/public/base}}
