{{> fragments/admin/base}}

  {{#> head-block}}
      <title>Crear o Editar pelicula | PAW Cine</title>

      {{!-- Movie config's Script & Style --}}
      <script src="/view-assets/admin-views/movie-config/movie-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/movie-config/movie-config.style.css" rel="stylesheet" type="text/css"> 
  {{/head-block}}


  {{#*inline "main-block"}}

    <h1>Crear o editar peliculas</h1>

  {{/inline}}

{{fragments/public/base}}
