{{> fragments/admin/base}}

  {{#> head-block}}
      <title>Configurar peliculas | PAW Cine</title>

      {{!-- Movies config's Script & Style --}}
      <script src="/view-assets/admin-views/movies-config/movies-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/movies-config/movies-config.style.css" rel="stylesheet" type="text/css"> 
  {{/head-block}}


  {{#*inline "main-block"}}

    <h1>Config de peliculas</h1>

  {{/inline}}

{{fragments/public/base}}
