{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Crear pelicula | Flash Cines</title>

      {{!-- Movie config's Script & Style --}}
      <script src="/view-assets/admin-views/new-movie/new-movie.script.js" type="module"></script>
      <link href="/view-assets/admin-views/new-movie/new-movie.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}


  {{#*inline "main-block"}}

    <h1>Crear pelicula</h1>

  {{/inline}}

{{fragments/public/base}}
