{{> fragments/admin/base}}

  {{#> head-block}}
      <title>Reserva | PAW Cine</title>
      {{!-- Reservation-config views's Script & Style --}}
      <script src="/view-assets/admin-views/reservation/reservation.script.js" type="module"></script>
      <link href="/view-assets/admin-views/reservation/reservation.style.css" rel="stylesheet" type="text/css"> 
  {{/head-block}}

  {{#*inline "main-block"}}

    <h1>Reserva</h1>

  {{/inline}}

{{fragments/public/base}}
