{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Reservas | PAW Cine</title>
      {{!-- Reservations-config views's Script & Style --}}
      <script src="/view-assets/admin-views/reservations/reservations.script.js" type="module"></script>
      <link href="/view-assets/admin-views/reservations/reservations.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}

  {{#*inline "main-block"}}

    <h1>Reservas</h1>

  {{/inline}}

{{fragments/public/base}}
