{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Reserva | Flash Cines</title>
      {{!-- Reservation-config views's Script & Style --}}
      <script src="/view-assets/admin-views/reservation/reservation.script.js" type="module"></script>
      <link href="/view-assets/admin-views/reservation/reservation.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}

  {{#*inline "main-block"}}

    <h1>Reserva</h1>

  {{/inline}}

{{fragments/public/base}}
