{{> fragments/admin/base}}

  {{#> head-block}}
      <title>Configurar salas | PAW Cine</title>
      {{!-- Rooms-config views's Script & Style --}}
      <script src="/view-assets/admin-views/rooms-config/rooms-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/rooms-config/rooms-config.style.css" rel="stylesheet" type="text/css"> 
  {{/head-block}}

  {{#*inline "main-block"}}

    <h1>Configurar Salas</h1>

  {{/inline}}

{{fragments/public/base}}
