{{> fragments/admin/base}}

  {{#> head-block}}
      <title>Configurar tipos de salas | PAW Cine</title>
  
      {{!-- Room-type-config views's Script & Style --}}
      <script src="/view-assets/admin-views/room-type-config/room-type-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/room-type-config/room-type-config.style.css" rel="stylesheet" type="text/css"> 
  {{/head-block}}

  {{#*inline "main-block"}}

    <h1>Configurar UN Tipo de sala</h1>

  {{/inline}}

{{fragments/public/base}}
