{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Configurar tipos de salas | PAW Cine</title>

      {{!-- Input component Script & Style --}}
      <script src="/view-assets/common/components/input/input.component.js" type="module"></script>
      <link href="/view-assets/common/components/input/input.style.css" rel="stylesheet" type="text/css">

      {{!-- Buttons Style --}}
      <link href="/view-assets/common/buttons.style.css" rel="stylesheet" type="text/css">

      {{!-- Switch component Script & Style --}}
      <script src="/view-assets/common/components/switch/switch.component.js" type="module"></script>
      <link href="/view-assets/common/components/switch/switch.style.css" rel="stylesheet" type="text/css">

      {{!-- Unsaved-Changes Buttons component Script & Style --}}
      <script src="/view-assets/admin-views/common/components/unsaved-changes/unsaved-changes.component.js" type="module"></script>
      <link href="/view-assets/admin-views/common/components/unsaved-changes/unsaved-changes.style.css" rel="stylesheet" type="text/css">
  
      {{!-- Room-type-config views's Script & Style --}}
      <script src="/view-assets/admin-views/room-type-config/room-type-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/room-type-config/room-type-config.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}

  {{#*inline "main-block"}}

    <h1>#Texto a editar#</h1>

  {{/inline}}

{{fragments/public/base}}
