{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Configurar salas | Flash Cines</title>
      {{!-- Room-config views's Script & Style --}}
      <script src="/view-assets/admin-views/room-config/room-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/room-config/room-config.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}

  {{#*inline "main-block"}}

    <h1>Configurar UNA Sala</h1>

  {{/inline}}

{{fragments/public/base}}
