{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Configurar salas | PAW Cine</title>
       {{!-- Table's Component & Style --}}
      <script src="/view-assets/admin-views/common/components/table/table.component.js" type="module"></script>
      <link href="/view-assets/admin-views/common/components/table/table.style.css" rel="stylesheet" type="text/css">

       {{!-- Paginator's Component & Style --}}
      <script src="/view-assets/admin-views/common/components/paginator/paginator.component.js" type="module"></script>
      <link href="/view-assets/admin-views/common/components/paginator/paginator.style.css" rel="stylesheet" type="text/css">

      {{!-- Rooms-config views's Script & Style --}}
      <script src="/view-assets/admin-views/rooms-config/rooms-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/rooms-config/rooms-config.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}

  {{#*inline "main-block"}}

    <section class="body-content-container">
      <h1>Configurar Salas</h1>
      <section id="rooms-list"></section>
      <section id="paginator"></section>
    </section>

  {{/inline}}

{{fragments/public/base}}
