{{> fragments/admin/base}}

  {{#> head-block}}
      <title>Configurar tipos de salas | PAW Cine</title>
  
      {{!-- Room-types-config views's Script & Style --}}
      <script src="/view-assets/admin-views/room-types-config/room-types-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/room-types-config/room-types-config.style.css" rel="stylesheet" type="text/css"> 
  {{/head-block}}

  {{#*inline "main-block"}}

    <h1>Configurar Tipos de salas</h1>

  {{/inline}}

{{fragments/public/base}}
