{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Configurar función | Flash Cines</title>
      {{!-- Screening-config views's Script & Style --}}
      <script src="/view-assets/admin-views/screening-config/screening-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/screening-config/screening-config.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}

  {{#*inline "main-block"}}

    <h1>Configurar Función</h1>

  {{/inline}}

{{fragments/public/base}}
