{{> fragments/admin/base}}

  {{#*inline "head-block"}}
      <title>Configurar funciones | PAW Cine</title>
      {{!-- Screenings-config views's Script & Style --}}
      <script src="/view-assets/admin-views/screenings-config/screenings-config.script.js" type="module"></script>
      <link href="/view-assets/admin-views/screenings-config/screenings-config.style.css" rel="stylesheet" type="text/css"> 
  {{/inline}}

  {{#*inline "main-block"}}

    <h1>Configurar Funciones</h1>

  {{/inline}}

{{fragments/public/base}}
